# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Database
database/*.db
database/*.sqlite
database/*.sqlite3

# Images
images/players/*
images/exports/*
!images/players/.gitkeep
!images/exports/.gitkeep

# Logs
logs/

# OS Files
.DS_Store
Thumbs.db